---
import Layout from "../layouts/Layout.astro";


import Pricing from "../components/Pricing.astro";
import FeatureList from "../components/FeatureList.astro";
import CustomImageScroll from "../components/CustomImageScroll.astro";
import Carousel from "../components/Carousel.astro";
import FAQ from "../components/FAQ.astro";



import data from "../data/site.json";
---

<Layout title={data.siteName}>
  <main>
    <Carousel />
    <FeatureList />
    <CustomImageScroll />
    <FAQ/>
    <Pricing />
    
  </main>
</Layout>
