---
import Layout from "../layouts/Layout.astro";
import Carousel from "../components/Carousel.astro";
import Service   from "../components/Service.astro";
import data from "../data/site.json";
---

<Layout title={data.siteName}>
  <main>
    <Carousel />
    <Service  />
  </main>
</Layout>
