---
import Layout from "../layouts/Layout.astro";


import FeatureList from "../components/FeatureList.astro";
import CustomImageScroll from "../components/CustomImageScroll.astro";
import Carousel from "../components/Carousel.astro";




import data from "../data/site.json";
---

<Layout title={data.siteName}>
  <main>
    <Carousel />
    <FeatureList />
    <CustomImageScroll />
  
    
  </main>
</Layout>
