---
import Layout from "../layouts/Layout.astro";


import Pricing from "../components/Pricing.astro";
import Pricing1 from "../components/Pricing1.astro";
import Pricing2 from "../components/Pricing2.astro";




import data from "../data/site.json";
---

<Layout title={data.siteName}>
  <main>
    
    <Pricing />
    <Pricing1 />
    <Pricing2 />
    
  </main>
</Layout>